<!-- REGISTER NEW SHOP VIEW -->
<h3 style="text-decoration: underline;"> Register New Shop </h3>
<br>
<form method="post" action="/shops/create" >

    <div class="form-group">

        <label> Shop/Business Name </label>
        <input type="text" class="form-control" name="shopname" placeholder=" E.g. Cold Storage ">

        <label> Location </label>
        <input type="text" class="form-control" name="location" placeholder=" E.g. Tampines st21 ">

    </div>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> Submit </button>

</form>
        <!-- 
        <label">Item 2 </label>
        <input type="text" class="form-control" id="item2" placeholder=" E.g. Tomatoes ">

        <label> Price </label>
        <input type="number" class="form-control" id="price2" placeholder="$2.50"> -->

