<!-- REGISTER NEW SHOP VIEW -->
<div class="form-group container"> <br>
    <div class="row">
        <div class="col-md-5">
            <h3 style="text-decoration: underline;"> Register New Shop </h3> <br>
            <form method="post" action="/shops/create">

                <label> Shop/Business Name </label>
                <input type="text" class="form-control" name="shopname" placeholder=" E.g. Cold Storage "><br>

                <label> Location </label>
                <input type="text" class="form-control" name="location" placeholder=" E.g. Tampines "> <br>

        </div>
    </div>
    <button class="btn btn-primary" type="submit"> Register </button>
</div>
</form>

