<form action="/shops/edit/<%= shop._id %>" method="post">
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4 style="text-decoration: underline; "> Amend Shop/Business: </h4>
                <label> Shop/Business Name </label>
                <input type="text" class="form-control" name="shopname" value="<%= shop.shopname %>" />
                <br>
                <label> Location: </label>
                <input type="text" class="form-control" name="location" value="<%= shop.location %>" />
                <br>
            </div>
        </div>
        <button type="submit" class="btn btn-primary"> Save Edit </button>
    </div>
</form>