<!-- REGISTER NEW ITEMS VIEWS -->

<h3 style="text-decoration: underline;">Register New Items</h3>
<br>
<form action="/create" method="post">

    <div class="form-group">

        <label for="formGroupExampleInput">Item 1 </label>
        <input type="text" class="form-control" name="itemName" placeholder=" E.g. Cheese ">
        <br>
        <label for="formGroupExampleInput"> Price </label>
        <input type="number" class="form-control" name="price" placeholder="$2.50">
        <!-- 
        <label for="formGroupExampleInput2">Item 2 </label>
        <input type="text" class="form-control" id="item2" placeholder=" E.g. Tomatoes ">

        <label for="formGroupExampleInput"> Price </label>
        <input type="number" class="form-control" id="price2" placeholder="$2.50"> -->

    </div>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> Submit </button>

</form>