<!-- SEARCH FOR ITEMS VIEWS -->

<!-- class="form-inline" -->
<form method="get" action="/search"> 
    <div class="form-group container"> <br>
        <div class="row">
            <div class="col-md-5">
                <h3 style="text-decoration: underline;">Search </h3> <br>
                <label for="formGroupExampleInput"> Item / Location / Shop </label>
                <input name="search" type="text" class="form-control" id="Item1" placeholder="E.g. Cheese">
            </div>
        </div>

        <!-- <div class="form-group">
        <label for="formGroupExampleInput2"> Item 2 </label>
        <input type="text" class="form-control" id="Item2" placeholder=" E.g. Tomatoes ">
    </div> -->
        <br>
        <!-- <button class="newsearch">+</button> -->
        <button class="btn btn-primary" type="submit">Search</button>

</form>