<!-- REVIEW ITEMS SEARCH VIEWS -->

<h3 style="text-decoration: underline;"> Search Results </h3>
<br>
<% results.forEach(item => { %>
<ul>
    <li>
        <%= item.itemName %>
    </li>
</ul>
<% }) %>