<h3 style="text-decoration: underline;">Search for Items - should be seach instead</h3>


<form class="form-inline" method="post" action="/search/">

    <div class="form-group">
        <label for="formGroupExampleInput">Item 1 </label>
        <input type="text" class="form-control" id="Item1" placeholder=" E.g. Cheese ">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Item 2 </label>
        <input type="text" class="form-control" id="Item2" placeholder=" E.g. Tomatoes ">
    </div>

    <div>
        <button class="search">+</button>
</div>


    
    
    <nav class="navbar navbar-light bg-light">
        <input class="form-control mr-sm-2" type="text" placeholder="e.g. Tomatoes">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </nav>
    
    <div>
        <button class="newsearch">+</button>
    </div>
    <!--  -->
    
    <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
        </tr>
    </tbody>
</table>

<!-- PAGE NUMBERING -->
<nav aria-label="...">
    <ul class="pagination">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active">
            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>

</form>